* {
    margin: 0;
    font-family: 'Amatic SC', cursive;
}

html {
    scroll-behavior: smooth;
}

/* Como importaste Amatic SC, pero no Amatic, no veo bien tus titulos, ni lo hara cualquier otra persona
que no tenga esa tipografia instalada. */
h1{
    font-family: 'Amatic', cursive;
}

/* ---------------------------------------
                HEADER - BARRA DE NAVEGACION
------------------------------------------ */

.link-navegacion {
    display: flex;
    list-style-type: none;
    justify-content: flex-end;
    align-items: center;
    /* No es necesario el color aqui, ya que va en los <a> */
    color: lightcoral;
    font-size: 25px;

    box-shadow: 0 0 29px 0 rgba(237, 250, 60, 0.25);
}

.link {
    margin-right: 20px;
    padding: 15px;
}

.link:hover, .boton:hover, .boton-proyectos:hover, .link-footer:hover {
    box-shadow: 0 0 29px 0 rgba(237, 250, 60, 0.25);
    border-radius: 10px;
    font-size: 30px;
}

.boton {
    background-color: lightyellow;
    border-radius: 20px;
    padding: 13px;
    font-size: 25px;
    width: 150px;
    text-align: center;
}

a, a:visited{
    text-decoration: none;
    color: lightcoral;
}

.icono {
    display: none;
    
}

/* ---------------------------------------
                PRIMER SECCION - PRESENTACION
------------------------------------------ */

.primer-seccion {
    display: flex;
    /* no es necesario justify content aqui  */
    justify-content: center;
    align-items: center;
    padding: 150px;
}

.section {

    width: 50%;
    font-size: 50px;
}

.texto {
    font-size: 25px;
    padding: 15px;
}

.nombre {
    color: lightcoral;
}


.aside {
    width: 50%;
}

.img {
    width: 100%;
    height: auto;
}

/* ----------------------------------------------------
                SEGUNDA SECCION - MIS CONOCIMIENTOS
------------------------------------------------------- */


.contenedor-segunda-seccion {
    background-color: rgba(219, 215, 215, 0.315);
    display: flex;
    justify-content: center;
    padding: 100px;

}

.contenido {
    text-align: center;
    font-size: 25px;

}
.parrafo {
    padding: 20px;
    font-size: 20px;
}

.segunda-seccion {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-content: center;
    width: 900px;
    

}


.contenedor-img{

    background-color: white;
    width: 250px;
    height: 250px;
    font-weight: bold;

    box-shadow: 0 0 29px 0 rgba(237, 250, 60, 0.25);
    border: 1px solid lightgrey;
    border-radius: 8px;
    margin: 10px;
    padding: 30px;

    box-sizing: border-box;
    text-align: center;

}

/* No es necesario que cada imagen tenga una clase distinta: con una sola para todas
("imagen-tecnologias") alcanzaba 
Por otro lado, recorda que no es bueno darle tamaños fijos a las imagenes, ya que pueden
perder su proporcion. Es mejor rodearlas de un div, darle el tamaño al div, y a las imagenes
decirles width: 100% */
.html, .css, .sass, .javascript, .react, .git {

    width: 120px;
    height: 120px;
}

/* ----------------------------------------------------
                TERCER SECCION - CITA
------------------------------------------------------- */

.tercer-seccion {
    background-color: lightcoral;
    padding: 100px
    
}

.icono-cita {
    text-align: center;
    font-size: 70px;
    color: snow;
    padding: 10px;
}

/* Seleccionas dos veces texto-cita. Todo deberia ir en el mismo selector */
.texto-cita {
    text-align: center;
    color: snow;
    font-size: 25px;
}

.texto-cita {
    padding: 10px;
}

.texto-cita-autor {
    padding: 10px;
    font-weight: bold;
}


/* ------------------------------------------------------
                CUARTA SECCION - MIS PROYECTOS
--------------------------------------------------------- */

.contenedor-cuarta-seccion {
    
    display: flex;
    justify-content: center;

}

.cuarta-seccion {
    padding: 80px;
}

/* Ya tenias un estilo para "contenido" aprox en la linea 110 que ahora pisas en este selector de aca */
.contenido {
    text-align: center;
    margin-bottom: 20px;
    padding: 20px;
    font-size: 25px;
}

.boton-proyectos {
    border: 0 solid;
    padding: 10px;
    font-size: 25px;
    width: 100px;
    text-align: center;

}



.pie-de-img {
    padding: 20px;
    font-size: 25px;
    color: black;
}

.contenedor-proyectos {

    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-content: center;
    margin-right: 100px;
    margin-left: 100px;
    

}

.contenedor-img-proyectos {

    background-color: white;
    width: 300px;
    height: 300px;
    font-weight: bold;

    box-shadow: 0 0 29px 0 rgba(237, 250, 60, 0.25);
    border: 1px solid lightgrey;
    border-radius: 8px;
    margin: 10px;
    padding: 30px;

    box-sizing: border-box;
    text-align: center;


}

/* Si con esta etiqueta querias agarrar a las imagenes de las tarjetas de mis proyectos, deberias
haberlas seleccionado con algo mas especifico, como una clase. Asi como estan, afectan a todas las 
imagenes de tu web, y eso puede traerte problemas a futuro */
img {

    width: 180px;
    height: 180px;
}

/*--------------------------------------------------------------
                FOOTER - CONTACTO 
---------------------------------------------------------------*/

.footer {

    background-color: lightcoral;
    padding: 80px;

}

.link-navegacion-footer {
    display: flex;
    list-style-type: none;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    padding: 20px;

}

.link-footer, .link-footer:visited {
    padding: 15px;
    color: snow;
    font-size: 25px;
}



.link-navegacion-iconos {

    display: flex;
    justify-content: center;
    list-style-type: none;
    padding-right: 40px;

}

.iconos-red-social, .iconos-red-social:visited {
    
    font-size: 40px;
    margin: 20px;
    text-decoration: none;
    color: snow;
    
}

.parrafo-footer {
    text-align: center;
    color: snow;
    font-size: 25px;
    padding: 20px;
}



@media (max-width: 600px) {

   .link-navegacion{
       display: none;
    }

    .icono{
        display: flex;
        justify-content: flex-end;
        font-size: 20px;
        padding: 15px;
        
        color:darkgray;
        box-shadow: 0 0 29px 0 rgba(237, 250, 60, 0.25);
    }


    .link-navegacion-footer {
        display: none;
    }


    
}

@media (max-width: 900px) {

    .primer-seccion {
        flex-direction: column;
        align-items: center;
        padding: 50px;
    }
    .section {
        display: flex;
        flex-direction: column;
        align-items: center ;
        text-align: center;
        font-size: 30px;
        width: 100%
    }

    

    .aside {
        width: 100%
    }

    .botones-proyectos {
        display: flex;

    }

    .contenedor-proyectos {

        margin-right: 0;
        margin-left: 0;
     
    }

    .cuarta-seccion {

        padding: 20px;

    }
    

   
}
