* {
    margin: 0;
    font-family: 'Amatic SC', cursive;
}


.link-navegacion {
    display: flex;
    list-style-type: none;
    justify-content: flex-end;
    align-items: center;


    color: lightcoral;
    font-size: 30px;


    /*height: 80px;*/

    box-shadow: 0 0 29px 0 rgba(237, 250, 60, 0.25);
    /*background-color: rgba(219, 215, 215, 0.315);*/
}

.link {
    margin-right: 20px;
    padding: 15px;
}

.boton {
    background-color: lightyellow ;
    border-radius: 20px;
    padding: 13px;
    font-size: 30px;
}

a, a:visited{
    text-decoration: none;
    color: lightcoral;
}

.icono {
    display: none;
    
}

@media (max-width: 600px) {

   .link-navegacion{
       display: none;
    }

    .icono{
        display: flex;
        justify-content: flex-end;
        font-size: 20px;
        padding: 15px;
        
        color:darkgray;
        box-shadow: 0 0 29px 0 rgba(237, 250, 60, 0.25);
    }

    
}